.main{
    display: flex;
    margin: 1% 2%;
    gap: 2%;
}

.left{
    width: 20%;
    height: 100vh;
}

.middle{
    width: 60%;
    height: 100vh;
}

.right{
    width: 20%;
    height: 100vh;
}

.plot{
    margin-top: 16px;
}

.artist{
    margin-top: 7%;
}